<div>
  <div class="modal-header">
    <h4 class="modal-title">{{ejercicio.nombre}}</h4>
  </div>
  <div class="modal-body">
    <p><b>Nombre:</b> {{ ejercicio.nombre }}</p>
    <p><b>Descripción:</b> {{ ejercicio.descripcion }}</p>
    <div *ngIf="ejercicio.observaciones !== ''">
      <p><b>Observaciones:</b> {{ ejercicio.observaciones }}</p>
    </div>
    <div *ngIf="ejercicio.tipo !== ''">
      <p><b>Tipo:</b> {{ ejercicio.tipo }}</p>
    </div>
    <div *ngIf="ejercicio.musculos_trabajados !== ''">
      <p><b>Musculos trabajados:</b> {{ ejercicio.musculos_trabajados }}</p>
    </div>
    <div *ngIf="ejercicio.material !== ''">
      <p><b>Material:</b> {{ ejercicio.material }}</p>
    </div>
    <div *ngIf="ejercicio.dificultad !== ''">
      <p><b>Dificultad:</b> {{ ejercicio.dificultad }}</p>
    </div>
    <div *ngIf="ejercicio.multimedia[0] !== undefined">
      <img src={{ejercicio.multimedia[0]}} width="280px" height="200px">
    </div>
    <div *ngIf="ejercicio.multimedia[1] !== undefined">
      <iframe [src]='videoURL' width="420" height="236" allowfullscreen></iframe>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Cerrar</button>
  </div>
</div>