<div>

  <div class="modal-header">
    <h4 class="modal-title">Nueva rutina</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nuevaRutina.nombre">
    </div>

    <div class="form-group">
      <label for="apellidos">Descripción:</label>
      <input class="form-control" id="descripcion" [(ngModel)]="nuevaRutina.descripcion">
    </div>

    <div class="form-group">
      <label for="email">Observaciones:</label>
      <input class="form-control" id="observaciones" [(ngModel)]="nuevaRutina.observaciones">
    </div>
    <!--Tabla para mostrar los ejercicios-->
    <table *ngIf="nuevaRutina.ejercicios[0].ejercicio.nombre != ''">
      <thead>
        <tr>
          <th>Ejercicio </th>
          <th>Series </th>
          <th>Repeticiones </th>
          <th>Duración </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ejercicio of nuevaRutina.ejercicios; let i = index">
          <td>{{ ejercicio.ejercicio.nombre }}</td>
          <td>{{ ejercicio.series }}</td>
          <td>{{ ejercicio.repeticiones }}</td>
          <td>{{ ejercicio.duracionMinutos }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="aniadirEjercicio()">Añadir ejercicio</button>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="crearRutina()">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancelado')">Cancelar</button>
  </div>

</div>