<div>

  <div class="modal-header">
    <h4 class="modal-title">Nueva rutina</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="name">Nombre:</label><br>
      <input class="form-control" id="nombre" [(ngModel)]="nuevaRutina.nombre" #name="ngModel" required>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <input class="form-control" id="descripcion" [(ngModel)]="nuevaRutina.descripcion" #des="ngModel" required>
    </div>

    <div class="form-group">
      <label for="observaciones">Observaciones:</label>
      <input class="form-control" id="observaciones" [(ngModel)]="nuevaRutina.observaciones" #obs="ngModel" required>
    </div>
    <!--Tabla para mostrar los ejercicios-->
    <table *ngIf="nuevaRutina.ejercicios[0].ejercicio.nombre != ''">
      <thead>
        <tr>
          <th>Ejercicio </th>
          <th>Series </th>
          <th>Repeticiones </th>
          <th>Duración </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ejercicio of nuevaRutina.ejercicios; let i = index">
          <td>{{ ejercicio.ejercicio.nombre }}</td>
          <td>{{ ejercicio.series }}</td>
          <td>{{ ejercicio.repeticiones }}</td>
          <td>{{ ejercicio.duracionMinutos }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="aniadirEjercicio()">Añadir ejercicio</button>

  </div>

  <div class="modal-footer">
    <div class="alerta"
      *ngIf="name.errors?.['required'] || des.errors?.['required'] || obs.errors?.['required'] || nuevaRutina.ejercicios[0].ejercicio.nombre == ''">
      Hay campos vacíos.
    </div>
    <button type="button" class="btn btn-secondary" (click)="crearRutina()"
      [disabled]="!camposCompletos()">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancelado')">Cancelar</button>
  </div>

</div>