<div>
    <ul>
        @for (rutina of rutinas; track rutina) {
        <li>
            <p></p>
            <button (click)="mostrarDetalles(rutina)">{{rutina.nombre}}</button>
            <button type="button" class="btn btn-primary" (click)="editarRutina(rutina)"><i
                    class="bi bi-pencil-square"></i></button>
            <button class="btn btn-outline-primary bi trash-button" (click)="eliminarRutina(rutina)"><i
                    class="bi-trash"></i></button>
        </li>
        }
    </ul>

    <!-- Formulario para agregar una nueva rutina -->
    <div>
        <button (click)="crearRutina()">Nueva rutina</button>
    </div>

</div>