button {    
    padding-right: 10px;
    margin: 10px;
}

.lista{
    max-height: 55vh; /* Altura máxima de la lista */
    overflow-y: auto; /* Habilitar scroll vertical */
    border: 1px solid #ccc; /* Borde para visualización */
    margin-left:20px; 
}

.nombreEjercicio {
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 5px;
  }

table{
    width: 100%;
}

table tr:nth-child(even) {
	background: rgb(226, 223, 223);
}

table tr:nth-child(odd) {
	background: rgb(247, 241, 241);
}
