<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botones Desplegables</title>
    <!-- Estilos CSS para el menú desplegable -->
    
</head>
<body>
    <!-- Agrega el botón de accesibilidad con menú desplegable -->
    <div class="dropdown">
        <button class="dropbtn">Ejercicios de tren inferior</button>
        <div class="dropdown-content">
            <button onclick="mostrarInformacion('Prensa')">Prensa</button>
            <button onclick="mostrarInformacion('Sentadilla bulgara')">Sentadilla bulgara</button>
            <button onclick="mostrarInformacion('Extension de cuadriceps')">Extension de cuadriceps</button>
            <button onclick="mostrarInformacion('Extensión de isquiotibiales')">Extensión de isquiotibiales</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Ejercicios de tren superior</button>
        <div class="dropdown-content">
            <button (click) ="mostrarInformacion('Bench press')">Bench press</button>
            <button onclick="mostrarInformacion('Fly press')">Fly press</button>
            <button onclick="mostrarInformacion('Back')">Back</button>
            <button onclick="mostrarInformacion('Pull over')">Pull over</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Ejercicios de brazos</button>
        <div class="dropdown-content">
            <button onclick="mostrarInformacion('Triceps')">Triceps</button>
            <button onclick="mostrarInformacion('Biceps con barra Z')">Biceps con barra Z</button>
            <button onclick="mostrarInformacion('Biceps martillo')">Biceps martillo</button>
            <button onclick="mostrarInformacion('Press militar')">Press militar</button>
        </div>
    </div>

    <!-- Script JavaScript para mostrar información -->
    <script>
        
    </script>
</body>
</html>
