    p{
        background-color: rgb(103, 97, 97)

    }

        /* Botones que aparecen despues de clickar en ejercicios */
    .dropbtn {
        background-color: #242324;
        color: yellow; /* Color de la letra */
        padding: 16px; /* Tamaño del botón */
        font-size: 16px; /* Tamaño de la letra */
        border: none; /* Sin borde */
        cursor: pointer; /* Cursor de la mano */
        display: block;
        margin: auto;
        text-align: center;
        width: 500px;
        margin-bottom: 10px;

    }
        
        /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #242324;

    }
   
    .boton {
        color: black;
        padding: 12px 16px;
        padding-bottom: 10px;
        text-decoration: none;
        display: block;
        border: none;
        background-color: transparent;
        width: 180px;
        
        margin: auto; /* Centro vertical */
    }
        
    /* Color al pasar el raton por encima de los botones desplegados */
    .dropdown-content button:hover {
        background-color: #838083;
    }
        
        /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
        
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #9e9e9e;
    }
    .titulo_lista{
        text-align: center;
        margin-top: 50px;
        padding: 10px 20px; /* Espaciado interno */
        border-radius: 10px; /* Bordes redondeados */
        border: none; /* Sin borde */
        margin: 5px;
        
        background-color: #242324; /* Color de fondo - rosa pálido */
        color: rgb(255, 255, 255); /* Color del texto*/

    }
    .titulo_lista:hover {
        background-color: #ccc; 
        color: #242324;
    }

    button {
        
        padding-right: 10px;
        margin: 10px;
    }

    .boton-group {
        display: flex; /* Utilizar flexbox para los elementos internos */
        justify-content: space-between; /* Espaciado uniforme entre los botones */
        margin: 10px;
    }

    .boton-group button {
        width: auto; 
        max-width: 100px; 
        margin: 10px;
        flex-grow: 1;
    }


    .lista{
        max-height: 60vh; /* Altura máxima de la lista */
        overflow-y: auto; /* Habilitar scroll vertical */
        border: 1px solid #ccc; /* Borde para visualización */
        margin-left:20px;
        background-color: whitesmoke;
        
    }