<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botones Desplegables</title>
</head>
<body>

    <div class="dropdown">
        <h2 class = "titulo_lista">Lista de ejercicios</h2>
        @for (ejercicio of ejercicios; track ejercicio){
                        
            <div class="dropdown-content">
                <div class="btn-group" role = "group">
                    <button (click) = "mostrarDetalles(ejercicio)">{{ejercicio.nombre}}</button>
                    <button type="button" class="btn btn-primary" (click) = "editarEjercicio(ejercicio)">Editar<i class="bi bi-pencil-square"></i></button>
                    <button type= "button" class="btn btn-primary" (click) = "eliminarEjercicio(ejercicio.nombre)">Eliminar <i class="bi bi-trash-fill"></i></button>
                </div>
                
            </div>
                
        }
    </div>

</body>
</html>
