.main {
    width: 100%;
    height: 90vh;
}

.header {
    height: 80px;
    width: 100%;
    color: whitesmoke;
    font-family: monospace;
  }
  
.webName{
    padding-top: 25px;
    padding-left: 25px;
}

.mainComponents {
    width: 90%;
    height: 85%;
    border: 2px solid whitesmoke;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.main-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border-width: 3px;
    margin: 5px;
    border-color: whitesmoke;
    background-color: transparent;
    color: whitesmoke;
}

.main-btn:hover{
    border-color: #B22222;
    color: #B22222;
}

.fin {
    text-align: right;
  }
  
  .icon {
    margin: 20px;
    width: 30px; /* Ajusta el ancho del icono según sea necesario */
    height: auto; /* Mantiene la proporción de aspecto */
  }