<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div>
    <h1>Centro de entrenadores personales
      <h2>Bienvenido,entrenador</h2>
      <h3>Cicklum</h3>
    </h1>
    
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-outline-primary" (click)=" toggleEjercicios()">Ejercicios</button>
      <button class="btn btn-outline-primary" (click)="toggleRutinas()">Rutinas</button>

      
    </div>
  </div>

  <div *ngIf="mostrarRutinas">
    <app-rutinas></app-rutinas>
  </div>

  <div *ngIf="mostrarEjercicios">
    <app-ejercicios></app-ejercicios>
  </div>
</main>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->