<main class="main">
  <!--Cabecera-->
  <div class="header">
    <h2 class="webName">Lifefit</h2>
  </div>

  <!--Cuerpo-->
  <div class="mainComponents">
    <div class="ejercicios">
      <button class="main-btn" (click)=" toggleEjercicios()">Ejercicios</button>

      <div class="info" *ngIf="mostrarEjercicios">
        <app-ejercicios></app-ejercicios>
      </div>
    </div>

    <div class="rutinas">
      <button class="main-btn" (click)="toggleRutinas()">Rutinas</button>
      
      <div class="info" *ngIf="mostrarRutinas">
        <app-rutinas></app-rutinas>
      </div>
    </div>

  </div>

  <!--Pie de pagina-->
  <div class="fin">
    <a href="https://github.com/SII-Informatica-UMA/ciklum-codequatro" target="_blank">
      <img src="../assets/github-icon.png" class="icon">
    </a>
  </div>
  <div>

  </div>

</main>