<div>

  <div class="modal-header">
    <h4 class="modal-title">{{rutina.nombre}}</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input class="form-control" id="nombre" [(ngModel)]="rutina.nombre">
      <label for="apellidos">Descripción:</label>
      <input class="form-control" id="descripcion" [(ngModel)]="rutina.descripcion">
      <label for="email">Observaciones:</label>
      <input class="form-control" id="observaciones" [(ngModel)]="rutina.observaciones">
    </div>

    <div>
      <table>
        <thead>
          <tr>
            <th>Ejercicio</th>
            <th>Series</th>
            <th>Repeticiones</th>
            <th>Duración</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ejercicio of rutina.ejercicios; let i = index">
            <td>
              <div class="btn-group" (click)="mostrarDetallesEjercicio(ejercicio.ejercicio)">
                <button>{{ ejercicio.ejercicio.nombre }}</button>
              </div>
            </td>
            <td>{{ ejercicio.series }}</td>
            <td>{{ ejercicio.repeticiones }}</td>
            <td>{{ ejercicio.duracionMinutos }}</td>
            <td>
              <button class="btn btn-outline-primary bi trash-button" (click)="eliminarEjercicio(ejercicio)"><i class="bi-trash"></i></button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <div>
      <button type="button" class="btn btn-secondary" (click)="aniadirEjercicio()">Añadir ejercicio</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="editarRutina()">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
    </div>

  </div>